<div>
    <h2 data-translate="bookstoreApp.cartToBooks.home.title">Cart To Books</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Item No.</span></th>
                    <th><span>Book</span></th>
                    <th><span>Title</span></th>
                    <th><span>Price</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in vm.books track by book.id">
                    <td><a ui-sref="cart-to-book-detail({id:cartToBook.id})">{{$index + 1}}</a></td>
                    <td>
                        <img data-ng-src="{{'data:' + book.photoContentType + ';base64,' + book.image}}" style="max-height: 100px;" ng-if="book.image"/> {{byteSize(book.image)}}
                    </td>
                    <td>{{book.title}}</td>
                    <td>{{book.price}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
