
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCartToBooksLabel" data-translate="bookstoreApp.cartToBooks.home.createOrEditLabel">Create or edit a Cart To Books</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cartToBooks.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cartToBooks.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bookstoreApp.cartToBooks.cartId" for="field_cartId">Cart Id</label>
            <input type="number" class="form-control" name="cartId" id="field_cartId"
                    ng-model="vm.cartToBooks.cartId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bookstoreApp.cartToBooks.bookId" for="field_bookId">Book Id</label>
            <input type="number" class="form-control" name="bookId" id="field_bookId"
                    ng-model="vm.cartToBooks.bookId"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
